language: java
jdk:
- openjdk8
os:
- linux
branches:
  except:
  - master
cache:
  directories:
  - "$HOME/.gradle"
before_script:
- export TZ=Europe/Berlin
stages:
#- name: build
- name: deploy
jobs:
  include:
#    - stage: build
#      script:
#        - "./gradlew -Dorg.gradle.project.ii.etfdev.quality.reports=true build jacocoTestReport"
    - stage: deploy
      script:
        - "./gradlew build -x test"
      deploy:
        skip_cleanup: true
        provider: s3
        access_key_id: ${AWS_ACCESS_KEY}
        secret_access_key: ${AWS_SECRET_KEY}
        bucket: ${AWS_S3_BUCKET}
        region: ${AWS_S3_REGION}
        upload-dir: ${AWS_S3_BUCKET_TARGET_PATH}
        local_dir: build/libs
        on:
          all_branches: true

